body{
	width:80%;
	margin:auto;
	background-color:#b8dbd0;
}

div.ejemplo{
	background-color:#c2f2f2;
	padding:1em;
	border-radius:20px;
}

div.resultado{
	background-color:#efefd6;
	padding:.5em;
	border-radius:20px;
	margin-top:1em;
	max-height:12em;
	overflow:scroll;
}

code{
	font-weight:bold;
}

div.ejemplo button{
	border-radius:15px;
}